@keyframes bounce {
  0%, 60%, 100%, 10% {
    -webkit-transform: trasnlateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: trasnlateY(-15px);
    transform: translateY(-10px);
  }

  80% {
    -webkit-transform: trasnlateY(-10px);
    transform: translateY(-10px);
  }

}
.App {
  text-align: center;
  padding:0;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn{
	font-family: arial;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 200;
	padding: 10px 8px;
	width: 150px;
	border-radius: 10px;
	cursor: pointer;
}

.btn-green{
	position: relative;
	top: 280px;
	background: #156622;
	color: #fff;
	border: 1px solid #156622;
}

.btn-green:hover{
  animation: bounce 1s;
	background: #073607;
	color: #fff;
}


/* papeldeparede */
.papeldeparede {
	background-image:url(logo1.jpg);
	background-attachment:fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:#000;
}

/* editar posição logo */
.logo{
  position: relative;
  top: -150px;
  right: 869px;
}
/*cabeçario */
.center{
	max-width: 100px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
}

.main{
  padding: 25px 0px;
  width: 100%;
  background-color: #042444;
  min-height: 10px;
}

.menu{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu h3{
  color: rgb(252, 247, 247);
}

.menu a{
  position: relative;
  font-weight: 700;
  left: -990px;
  color: #fff;
  text-decoration: none;
  border: 1px solid white;
  padding: 2px 6px;
  border-radius:7px;
}

/*  connect */

.menuconnect{
  position: relative;
  left: 85%; /*esquerda*/
	font-size: 17px;
	text-transform: none;
	padding: 11px 0px;
	width: 109px;
	border-radius: 15px;
	cursor: pointer;
}

.menuconnect-green{
	top: -313.6px;
	background-color: rgb(44, 140, 255);
	color: rgb(243, 243, 243);
	border: 1px solid rgb(44, 140, 255);
}

.menuconnect-green:hover{
  animation: bounce 1s;
	color: rgb(255, 255, 255);
}
/*
.efeito-6 {
  background:  #376693;
  transform-style: preserve-3d;
}

.efeito-6:after{
  top: 100px;
  left: 0px;
  width: 100%;
  padding: 10px;
  position: absolute;
  background: #3a9999;
  border-radius: 10px;
  box-sizing: border-box;
  content: 'Mudou!';
  transform-origin: left bottom;
  transform: rotateX(90deg);
}

.efeito-6:hovert{
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100%);
}
*/

.menu2{
  position: relative;
  left: -680%;
  top: -375px;
	font-size: 19px;
	text-transform: none;
	padding: 08px 0px;
	width: 150px;
	border-radius: 15px;
	cursor: pointer;
  background-color: rgb(44, 140, 255);
	color: #fff;
	border: 1px solid rgb(44, 140, 255);

}

.menu2:hover{
  animation: bounce 1s;
	color: rgb(255, 255, 255);
}